PORT=5000 #puerto del servidor backend
FRONTEND_URL=http://localhost:3000 # URL del frontend
APP_URL=http://localhost:5000 # URL de la aplicación
# Credenciales de tu base de datos MySQL en Railway/TiDB Cloud/AWS RDS
DB_HOST= # Host de la base de datos
DB_USER= # Usuario de la base de datos
DB_PORT= # Puerto de la base de datos
DB_PASSWORD= # Contraseña de la base de datos
DB_NAME= # Nombre de la base de datos

JWT_SECRET=fR8$pW!2zXy@7kVQbL9sT6nM4JgC1jE5hD3uI0oP9wA8sF7gH6jK5lZ4x



